@{ Layout = null; }
<h1>Registrar Usuario</h1>
<form method="post" action="/auth/create">
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="Username" value="" />
    </div>
    <div class="form-group">
        <label>Contraseña</label>
        <input type="password" name="Password" value="" />
    </div>
    <div>
        <button>Registrar</button>
    </div>
</form>
